footer {
  nav {
    width: 60vw;
    margin: 3rem auto;

    ul{
      li {
        font-size: 1.1rem;
        padding: 1rem;
        display: inline-block;
        list-style-type: none;
        text-transform: uppercase;

        a {
          color: $footer-menu-text;
          text-decoration: none;
        }
      }
    }
  }
}
